body {
    margin: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 1200px;
    box-shadow: 0px 5px 15px 0 #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

.site-navigation a {
    color: #000000;
}

.site-navigation {
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
}

.site-navigation li {
    padding:17px 0;
    width: 240px;
}

.site-navigation li:nth-child(3){
    margin-left: auto;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:focus, .site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.intro {
    width: 100%;
    text-align: center;
}

.intro h1{
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-right:auto;
    margin-left:auto;
    margin-top: 61px;
    width: 440px;
}


.background-sedona {
    width: 100%;
    height: 509px;
    background-image: url("../img/intro-welcome.svg"), url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-size: 459px 353px, 100% 59px, cover;
    background-position: center, 0 453px, 0 -80px;
}

.features{
    
    text-align: center;
}

.features-intro{
    line-height: 26px;
}

.features ul {
    list-style: none;
}

.feature-picture-left {
    background-color: #81b3d2;
    color: #ffffff;
}

.feature-item {
    font-size: 14px;
    line-height: 21px;
}

.feature-item h3 {
    font-size: 21px;
}

.number-feature-list {
    background-color: #eeeeee;
    color: #000000;
}


.hotels-search b {
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
}

.hotels-search p {
    text-align: center;
}

.hotels-search input {
    font: inherit;
    background-color: #f2f2f2;
    color: #000000;
    border: 0;
}

.hotels-search input:hover {
    background-color: #ebebeb;
}

.hotels-search input:focus {
    background-color: #ffffff;
}

.footer-hashtag {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 200px;
    padding: 0 100px;
    margin-top: 12px; 
}

.footer-social {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 155px;
    padding: 0;
    margin-top: 7px; 
}

.footer-contacts {
    font-size: 14px;
    line-height: 26px;
    width: 200px;
    padding: 0 100px;
    margin-top: 0px;
}

.footer-contacts-ico {
    fill: #81b3d2;
    margin-bottom:-15px; 
    margin-left: 5px; 
}

.footer-contacts-ico:focus {
    fill: #bdbbbc;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    color: #000000;
    background: #ffffff;
    opacity: 0.9;
}

.rundown-footer{
    margin-top: -120px; 
}

.hotels-search .popup-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    display: block;
    width: 508px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}


.map-search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    width: 568px;
    margin: 0 auto;
}

.map{
    height: 593px;
    background-color: #5496bd;
}



.hotels-search .search-button {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.button {
    font: inherit;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.blue-button {
    background-color: #81b3d2;
    color: #ffffff;
}

.blue-button:hover {
    background-color: #669ec0;
}

.blue-button:focus, .blue-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.brown-button {
    background-color: #766357;
    color: #ffffff;
}

.brown-button:hover {
    background-color: #604e43;
}

.brown-button:focus, .brown-button:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-item-title {
    font-size: 21px;
    line-height: 26px;
}

.social-button {
    color: #ffffff;
    width: 46px;
    height: 48px;
    display: block;
}

.social-button-twitter {
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-button-facebook {
    background-image: url("../img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.social-button-youtube {
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-item-info{
    padding: 24px 0px 35px;
}

.catalog-item-info p{

}

.catalog-list {
    list-style: none;
    padding: 0;
    margin:0;
}

.sort-list {
    list-style: none;
    font-size: 12px;
    line-height: 18px;
}

.sort-result p{
    padding: 25px 23px 0px 28px; 
    font-size: 12px;
    line-height: 18px;
}

.catalog-item-info .button{
    padding: 4px 17px;
    margin-right: 3px;
}
.price{
    padding: 7px 0 16px ;
}
.price p{
    display: inline-block;
    margin-right: 3px;
}

.sort-result{
    display: flex;
    padding: 0 50px;
}

.sort-list{
    display: flex;
    padding: 0;
}

.sort-item{
    padding: 26px 16px 0; 
}

.sort-item a{
    color: rgba(0, 0, 0, 0.3);
    border-bottom:  1px dotted #81b3d2;; 
}

.sort-item a:hover{
    color: #81b3d2;
}

.sort-item a:active{
    border-bottom: 0;
}
.sort-item a:focus
{
    color: #000000;
   
}

.sort-direction{
    padding: 41px 17px 0px;
    margin-left: auto;
    display: flex; 
}


.catalog-item{
    display: flex;
}

.result-count {
    padding: 30px 21px; 
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.border-bottom{
    border-bottom: 1px solid rgba(97, 97, 97, 0.205);
}

.catalog-rating-stars {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.catalog-item-image{
    order: -1;    
    margin: 30px 30px 0px 72px;
}

.catalog-category{
    margin: 0;
    display: block;
    width: 110px;
}

.catalog-item-price{
 margin: 0;
    display: block;
    width: 142px;
}



.catalog-star {
    background-image: url("../img/star.svg");
    width: 18px;
    height: 17px;
    margin-left:6px;
}


.catalog-rating{
    margin-left: auto; 
    padding: 27px 73px 15px;
}

.catalog-rating p {
    background-color: #f2f2f2;
    color: #666666;
    margin-top: 48px; 
    float: right;
    padding: 3px 14px;
}


.result-updown-button {
    width: 11px;
    height: 10px;
    padding: 0 6px;
    background-repeat: no-repeat;
    background-position: center;
    fill: #cacaca;
}

.result-updown-button:hover {
    fill: #000000;
}

.result-updown-button:focus, .result-updown-button:active {
    fill: #81b3d2;
}

.result-ascending {
    background-image: url("../img/icon-up-dir.svg");
}

.result-descending {
    background-image: url("../img/icon-down-dir.svg");
}

.map-search button[type=button] {
    background-color: #f2f2f2;
    color: #000000;
}

.catalog-item-title {
    margin: 0;
    font-weight: bold;
    color: #000000;
}

.catalog-item-title:hover {
    color: #81b3d2;
}

.catalog-item-title:focus, .catalog-item-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.filter {
    color: #ffffff;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position-y:-290px;
    display: flex;
    padding: 0 60px;
}

.filter fieldset {
    border: 0;
    margin-top: 27px;
    padding-right: 102px;
}

.search-check-list{
    list-style: none;
    padding: 0;
    margin: 21px 0; 
}

.search-check-list li{
    margin-bottom: 25px;
}



.price-container{
    margin-left: auto; 
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.price-label {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.filter button[type=submit] {
    background-color: transparent;
    color: #ffffff;
    border: 1px double #ffffff;
}

.logo {
    width: 140px;
    height: 72px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



.features ul{
    margin: 0px;
    padding: 0px;
}

.main-content{
    display: flex;
    flex-direction: column;
}

.icons-feature-list{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.icons-feature-list .feature-item{
    padding: 58px 0;
}

.number-feature-list{
    display: flex;
    justify-content: space-around;
}

.house-ico{
    margin: 0 auto;
    width: 75px;
    height: 72px;
    background-image: url("../img/house-ico.svg");
}

.burger-ico{
    margin: 0 auto;
    width: 74px;
    height: 70px;
    background-image: url("../img/burger-ico.svg");
}

.gift-ico{
    margin: 0 auto;
    width: 64px;
    height: 76px;
    background-image: url("../img/gift-ico.svg");
}

.feature-item{
    width: 309px;
    padding:26px 46px 38px;
    flex-shrink: 0;
}

.feature-picture-right{
    margin-top: 48px;
    display: flex;
}
.feature-picture-right .feature-item
{
    background-color: #81b3d2;
    color: #ffffff;
}

.feature-item h3{
    padding: 0 79px;
}

.feature-item  p{
    padding: 9px 3px;
}

.number-feature-list p{
    padding: 9px 15px;
}

.number-feature-list li:last-child p{
    padding: 9px 25px;
}

.feature-picture-right::after{
    content: "";
    background-image: url("../img/town-side.jpg");
    background-size: cover;
    width: 100%;
}

.feature-picture-left{
    display: flex;
}

.feature-picture-left .feature-item
{
    background-color: #81b3d2;
    color: #ffffff;
}

.feature-picture-left::before{
    content: "";
    background-image: url("../img/devil-bridge-side.jpg");
    background-size: cover;
    width: 100%;
}

.search-intro{
    padding-top:50px;
    padding-bottom:25px;
    text-align: center;
    width: 440px;
    margin: 0 auto;
}

.search-intro p{
    padding: 12px 0px;
}